<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <property name="app_name" value="ershoujing"/>
    <property name="charset" value="UTF-8"/>
    <property name="app_pattern"
              value='%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%M|%C\:%L|%thread|%replace(%.-100000msg){"(\r|\n)","\t"}|"%.-100000ex{full}"%n'
              scope="context"/>
    <property name="app_path"
              value="/Users/owen/Downloads/jingyuu/logs"/>

    <contextName>${app_name}</contextName>

    <!-- 控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="${charset}">
            <pattern>${app_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app_path}/jingyuu/ershoujing.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${app_path}/jingyuu/ershoujing.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${app_pattern}</pattern>
        </encoder>
    </appender>

    <!-- mybatis debug-->
    <logger name="com.jingyuu.ershoujing.dao.mybatis.mapper" level="DEBUG" >
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>